- const header_nav = [[`Как это работает?`,`#`],  [`Для кого`,`#`], [`Кейсы`,`#`], [`Тарифы`,`#`], [`Безопасность`,`#`]]
- const img_name = [[`ruble`,`395`,`594`,`Не пропускайте важные оплаты`,`Если от них зависят ваши проекты или старт рекламных кампаний`],[`pig`,`412`,`411`,`Сократите издержки на\u00A0бухгалтерию и\u00A0коммуникации`,`Получайте информацию о платежах на счет компании там, где вам удобно`],[`scenario`,`722`,`399`,`Создавайте собственные сценарии действий`,`при поступлении денег на счет вашей компании`],[`hand`,`395`,`594`,`Реагируйте на\u00A0платежи так быстро, как они поступают на\u00A0ваш счет`,``]]
- const how__list = [`Подключите свой банковский счет`,`Выберите, куда и кому отправлять информацию`,`Получайте информацию о\u00A0поступивших оплатах`]
- let n = 0
